login-page {
	.login-content
	{
		background: url('../assets/images/login-bg.png') no-repeat fixed center;
		
		.intro-image-row
		{
			@include justify-content(center);
			// margin-top: 90px;
			margin-top: 13vh;
			margin-bottom: 2vh;
			// border: 1px solid $white;
		}

		.back-btn
		{
			margin-top: 20px;
			border: 1px solid $white-a;
			color: $white;
		}

		.alt-options
		{
			margin-top: 16vh;

			.button
			{
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}
			
			.forgot-button
			{
				color: $white-a;
				width: 100%;
				
				.button-inner
				{
					@include justify-content(flex-start);
				}
			}
			
			.signup-button
			{
				font-weight: 500;
				color: $theme-color-2;
				
				.button-inner
				{
					@include justify-content(flex-end);
				}
			}
		}
	}
}
