login-page {
	.login-content
	{
		background: url('../assets/images/login-bg.png') no-repeat center;
		background-size: 1268px 800px;
		
		.intro-image-row
		{
			@include justify-content(center);
			// margin-top: 90px;
			margin-top: 13vh;
			margin-bottom: 2vh;
		}

		.back-btn
		{
			margin-top: 20px;
			border: 1px solid $white-a;
			color: $white;
		}

		.auth-action-button
		{
			margin-top: 40px !important;
		}

		.alt-options
		{
			margin-top: 12vh;

			.button
			{
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}
			
			.text-button
			{
				color: $white-a;
				width: 100%;
				
				.button-inner
				{
					@include justify-content(flex-start);
				}
			}
		}

		.alt-options:last-child {
			margin-top: 2vh;
		}
	}
}
