.auth-header
{
	@include header-styles(color($colors, header, base), color($colors, header, contrast));
}

.auth-content
{
	.scroll-content
	{
		padding: 16px 6%;
	}
	
	.auth-title
	{
		color: $theme-color-2;
		margin-top: 10px;
		margin-bottom: 25px;
	}
	
	.auth-form
	{
		padding: 0px 10%;
		ion-item {
			@include basic-input-style(transparent, $white, $white-b);
			margin: 0px 0px 14px 0px;
			
			&.item
			{
				input[type="password"].text-input
				{
					padding-right: 2rem;
				}
			}

			.text-input
			{
				margin: 11px 0px 0px 0px;
			}
		}
		
		.auth-action-button
		{
			margin: 0px;
			margin-top: 10%;
			
			@include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
		}
		
		.show-hide-password
		{
			margin-bottom: 40px !important;
			.type-toggle
			{
				color: $white-b;
				margin: 0px;
				padding: 0px 6px;
				text-align: right;
			}
		}
	}
	
	.auth-divider
	{
		font-size: 1.6rem;
		color: $white-d;
		margin: 20px 0px;
		text-align: center;
	}
}

@import "./auth.ios";
@import "./auth.wp";
