page-whats-on-category {
    .whats-on-category-header {
        @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
        // border-bottom: 1px solid $border-color-1;
    }

    .whats-on-category-content {
        background-color: $white !important;
        
        /*.back-box {
            padding: 10px 16px 0px;
            color: $theme-color-1;
            font-size: 14px;
            font-weight: 600;
        }*/
        
        /*.category-listing-box {
            padding: 0px 12px;
            
            ion-row:last-child {
                margin-bottom: 20px;
            }
            
            .image-box {
                width: calc(50vw - 12px);
                height: calc(50vw - 12px - 10px - 50px);
            }
            
            .featured-image {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 39px;
                height: 42px;
            }

            p {
                font-size: 11px;
                margin: 4px 4px;
            }

            .comment {
                color: $theme-color-1;
            }

            .date {
                color: $theme-color-7;
            }
        }*/
        
        .event-row {
            margin-top: 12px;
            height: 60px;

            ion-col {
                padding: 0px;
            }

            .data-col {
                margin-left: 8px;

                h2 {
                    font-size: 20px;
                    font-weight: bold;
                    margin: 4px 0px;
                }

                div {
                    font-size: 12px;
                }
            }

            .image-col {
                flex: 0 0 80px;
                max-width: 80px;

                background-size: auto 60px;
                background-repeat: no-repeat;
                background-position: center;
                // background-image: url('http://kontaktsite.wpengine.com/uploads/Whatson_MDK1LD1KEAC.png');
            }
        }

        .event-row:first-child {
            margin-top: 0px;
        }
    }
}
