page-category-listing {
    .category-listing-header {
        border-bottom: 1px solid $border-color-1;
        
        ion-row {
            margin: 0px;
            padding: 0px;
            
            ion-col:first-child {
                margin: 0px;
                padding: 0px 5px 0px 0px;
                height: 48px !important;
                flex: 0 0 60%;
                max-width: 60%;
            }
            
            ion-col:last-child {
                margin: 0px;
                padding: 0px 0px 0px 5px;
                height: 48px !important;
                flex: 0 0 40%;
                max-width: 40%;
            }
        }
        
        .search-places {
            margin: 6px 0px;
            padding: 0px;
            width: 100%;
            border: none;
            min-height: 36px;
            
            .searchbar-input-container {
                border: none;
            }
            
            input {
                font-size: 13px;
                background-color: $theme-color-5;
                border-radius: 4px;
                color: $theme-color-7;
                height: 36px !important;
                padding: 6px 4px 6px 29px !important;
            }
            
            .searchbar-search-icon {
                left: 6px;
                top: 8px;
                width: 21px;
                height: 21px;
                background-size: 20px;
                color: $white !important;
            }
            
            .searchbar-ios {
                margin-left: 4px !important;
            }
        }
        
        .categories-btn {
            font-size: 13px;
            margin: 6px 0px !important;
            width: 100% !important;
            height: 36px !important;
        }
    }
    
    .category-listing-content {
        background-color: $white !important;
        
        .back-box {
            padding: 10px 16px 0px;
            color: $theme-color-1;
            font-size: 14px;
            font-weight: 600;
        }
        
        .category-listing-box {
            padding: 0px 12px;
            
            ion-row:last-child {
                height: calc(50vw);
                margin-bottom: 20px;
            }
            
            .image-box {
                width: calc(50vw - 12px);
                height: calc(50vw - 12px - 10px);
            }
            
            .featured-image {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 39px;
                height: 42px;
            }
        }
    }
}
