<ion-header class="category-listing-header">
  <ion-navbar hideBackButton>
    <ion-row>
      <ion-col width-50>
        <ion-searchbar #searchbox id="searchbox" class="search-places" placeholder="Search"></ion-searchbar>
      </ion-col>
      <ion-col width-50>
        <button ion-button class="categories-btn" (click)="goToCategoryPage()">
          Categories&nbsp;
          <i class="fa fa-list" aria-hidden="true"></i>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content class="category-listing-content">
  <div class="back-box">
    <p><span (click)="goBack()"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;{{ title[kind] }}</span></p>
  </div>
  <div class="category-listing-box">
    <ion-row *ngFor="let list of lists">
      <ion-col width-50 *ngFor="let item of list" (click)="goToCompanyProfilePage(item.id)">
        <img [src]="item.image_url" class="image-box" />
        <img src="./assets/images/featured.png" class="featured-image" />
      </ion-col>
    </ion-row>
  </div>
</ion-content>
