page-category-listing {
    .category-listing-header {
        border-bottom: 1px solid $black-c;
        
        ion-row {
            margin: 0px;
            padding: 0px;
            
            ion-col:first-child {
                margin: 0px;
                padding: 0px 5px 0px 0px;
                height: 48px !important;
            }
            
            ion-col:last-child {
                margin: 0px;
                padding: 0px 0px 0px 5px;
                height: 48px !important;
            }
        }
        
        .search-places {
            margin: 6px 0px;
            padding: 0px;
            width: 100%;
            border: none;
            min-height: 36px;
            // height: 36px;
            .searchbar-input-container {
                border: none;
            }
            
            input {
                background-color: #000;
                border: 1px solid #fff;
                border-radius: 4px;
                color: #fff;
                height: 36px !important;
                padding: 6px 4px 6px 29px !important;
            }
            
            .searchbar-search-icon {
                left: 6px;
                top: 8px;
                width: 21px;
                height: 21px;
                background-size: 20px;
                color: #fff !important;
                // background-color: #fff;
            }
            
            .searchbar-ios {
                margin-left: 4px !important;
            }
        }
        
        .categories-btn {
            margin: 6px 0px !important;
            width: 100% !important;
            height: 36px !important;
            background-color: $theme-color-4 !important;
            color: $white;
        }
    }
    
    .category-listing-content {
        background-color: $black-e !important;
        .back-box {
            padding: 0px 16px;
            color: $theme-color-1;
            font-size: 16px;
        }

        .category-listing-box {
            padding: 0px 12px;
        }
    }
}
