<ion-header class="category-listing-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="goToBack()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Back
      </button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="category-listing-content">
  <div class="category-image" *ngIf="sub_category.picture">
    <img [src]="sub_category.image_url" />
  </div>
  <div class="category-listing-box">
    <ion-row *ngFor="let list of lists">
      <ion-col width-50 *ngFor="let item of list" (click)="goToCompanyProfilePage(item.id)">
        <img [src]="item.image_url" class="image-box" />
        <img src="./assets/images/featured.png" class="featured-image" />
        <div class="company-title">
          {{ item.title }}
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
