page-main {
  .view-all-button {
    color: $fore-color-2;
  }

  ion-scroll[scrollX] {
    white-space: nowrap;
    .scroll-item {
      margin-right: 10px;
      display: inline-block;
    }
  }

  ion-label {
    margin: 0px !important;
    padding: 0px !important;
  }

  .category-box {
    padding: 0px 0px 1px 0px;
    margin: 0px !important;
    .item-inner {
      background-color: $white-b;
      margin: 0px;
      padding: 0px 16px 7px 16px !important;
    }
  }

  .scroll-box {
    height: 130px;
    margin: 0px !important;
  }

  .image-box {
    width: 150px;
    height: 130px;
  }

}
