page-main {
  .main-header {
    border-bottom: 1px solid $border-color-1;

    ion-row {
      margin: 0px;
      padding: 0px;
      
      ion-col:first-child {
        margin: 0px;
        padding: 0px 5px 0px 0px;
        height: 48px !important;
        flex: 0 0 60%;
        max-width: 60%;
      }
      
      ion-col:last-child {
        margin: 0px;
        padding: 0px 0px 0px 5px;
        height: 48px !important;
        flex: 0 0 40%;
        max-width: 40%;
      }
    }
    
    .search-places {
      margin: 6px 0px;
      padding: 0px;
      width: 100%;
      border: none;
      min-height: 36px;

      .searchbar-input-container {
        border: none;
      }
      
      input {
        font-size: 13px;
        background-color: $theme-color-5;
        border-radius: 4px;
        color: $theme-color-7;
        height: 36px !important;
        padding: 6px 4px 6px 29px !important;
      }
      
      .searchbar-search-icon {
        left: 8px;
        top: 12px;
        width: 21px;
        height: 21px;
        background-size: 14px;
        color: $white !important;
      }
      
      .searchbar-ios {
        margin-left: 4px !important;
      }
    }
    
    .categories-btn {
      font-size: 11px;
      margin: 6px 0px !important;
      width: 100% !important;
      height: 36px !important;
      background-color: $theme-color-10;
    }
  }
  
  .main-content {
    background-color: $white !important;
    
    ion-scroll[scrollX] {
      white-space: nowrap;
      // background-color: $black !important;
      .scroll-item {
        margin-right: 10px;
        display: inline-block;
      }
    }
    
    ion-label {
      margin: 0px !important;
      padding: 0px !important;
    }
    
    .category-box {
      padding: 0px;
      margin: 4px 0px 0px 0px !important;
      
      .item-inner {
        background-color: $white;
        margin: 0px;
        padding: 0px 16px 4px 16px !important;
      }
      
      ion-row {
        font-weight: 600;

        ion-col:first-child {
          font-size: 14px;
          color: $theme-color-10;
        }
        
        ion-col:last-child {
          padding-top: 6px;
          font-size: 12px;
          color: $theme-color-10;
        }
      }
    }
    
    .category-box:first-child {
      margin: 16px 0px 0px 0px !important;
    }
    
    .scroll-box {
      height: 138px;
      margin: 0px !important;
    }
    
    .image-box {
      margin-top: 4px;
      width: auto;
      height: 110px;
    }

    .company-title {
      font-size: 11px;
      // font-weight: bold;
      // text-align: center;
    }

    .search-result-box {
      background-color: $white-a;
      color: $theme-color-10;
      font-size: 14px;

      ion-row {
        ion-col {
          padding: 0px;
        }
      }

      .category-row {
        height: 36px;
        background-color: $white-b;
        font-weight: bold;
        padding: 10px 16px;
      }

      .sub-category-row {
        height: 32px;
        border-bottom: 1px solid #cccccc;
        padding: 10px 16px 8px 32px;

        ion-col:first-child {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .sub-category-row:last-child {
        border-bottom: none;
      }

      .company-row:nth-child(odd) {
        font-weight: normal;
        background-color: $white-b;
      }

      .company-row:nth-child(even) {
        font-weight: normal;
        background-color: $white-a;
      }

      .title-row {
        background-color: $white-c;
        height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        padding-top: 11px;
      }
    }
  }
}
