<ion-header class="community-header">
  <ion-navbar>
    <ion-title>Community</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="community-content">
  <!-- <div class="pins">
    <div class="pin" *ngFor="let image of images; let i=index" (click)="goToCommunityListingPage()">
      <img [src]="image.src" />
      <h2>{{image.title}}</h2>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{image.location}}</p>
    </div>
  </div> -->
  <ion-item class="category-box" no-lines>
    <ion-row>
      <ion-col text-left>
        Featured Businesses
      </ion-col>
      <ion-col text-right>
        <span (click)="goToCommunityListingPage('featured')">View All></span>
      </ion-col>
    </ion-row>
    <ion-scroll scrollX class="scroll-box">
      <div class="scroll-item" *ngFor="let community of featuredList" (click)="goToCommunityViewPage(community.id)">
        <img [src]="community.image_url" class="image-box" />
        <p class="title">{{ community.title }}</p>
        <p class="date">{{ community.created_str }}</p>
      </div>
    </ion-scroll>
  </ion-item>
  
  <ion-item class="category-box" no-lines>
    <ion-row>
      <ion-col text-left>
        Most Popular
      </ion-col>
      <ion-col text-right>
        <span (click)="goToCommunityListingPage('most')" class="view-all-button">View All></span>
      </ion-col>
    </ion-row>
    <ion-scroll scrollX class="scroll-box">
      <div class="scroll-item" *ngFor="let community of mostList" (click)="goToCommunityViewPage(community.id)">
        <img [src]="community.image_url" class="image-box" />
        <p class="title">{{ community.title }}</p>
        <p class="date">{{ community.created_str }}</p>
      </div>
    </ion-scroll>
  </ion-item>
  
  <ion-item class="category-box" no-lines>
    <ion-row>
      <ion-col text-left>
        New
      </ion-col>
      <ion-col text-right>
        <span (click)="goToCommunityListingPage('new')" class="view-all-button">View All></span>
      </ion-col>
    </ion-row>
    <ion-scroll scrollX class="scroll-box">
      <div class="scroll-item" *ngFor="let community of newList" (click)="goToCommunityViewPage(community.id)">
        <img [src]="community.image_url" class="image-box" />
        <p class="title">{{ community.title }}</p>
        <p class="date">{{ community.created_str }}</p>
      </div>
    </ion-scroll>
  </ion-item>
</ion-content>
