page-community {
    .community-header {
        border-bottom: 1px solid $border-color-1
    }
    
    .community-content {
        /*.pins {
            column-count: 2;
            padding: 16px;
            margin: 0px;
            
            .pin {
                display: inline-block;
                margin: 0px 0px 10px;
                // padding: 5px;
                width: calc((100vw - 32px - 16px) / 2);
                max-width: calc((100vw - 32px - 16px) / 2);
                
                img {
                    border-radius: 8px;
                    width: calc((100vw - 32px - 16px) / 2);
                    max-width: calc((100vw - 32px - 16px) / 2);
                }

                h2 {
                    margin: 10px 0px 2px;
                    color: $theme-color-7;
                    font-size: 14px;
                    font-weight: bold;
                }

                p {
                    margin: 4px 0px;
                    color: $theme-color-8;
                    font-size: 12px;
                }
            }
        }*/
        background-color: $white !important;
        
        ion-scroll[scrollX] {
            white-space: nowrap;
            // background-color: $black !important;
            .scroll-item {
                margin-right: 10px;
                display: inline-block;

                .title {
                    color: $theme-color-7;
                    font-size: 14px;
                    font-weight: bold;
                }

                .date {
                    color: $theme-color-8;
                    font-size: 12px;
                }
            }
        }
        
        ion-label {
            margin: 0px !important;
            padding: 0px !important;
        }
        
        .category-box {
            padding: 0px;
            margin: 10px 0px 0px 0px !important;
            
            .item-inner {
                background-color: $white;
                margin: 0px;
                padding: 0px 16px 6px 16px !important;
            }
            
            ion-row {
                font-weight: 600;
                
                ion-col:first-child {
                    font-size: 14px;
                    color: $theme-color-1;
                }
                
                ion-col:last-child {
                    padding-top: 6px;
                    font-size: 12px;
                    color: $theme-color-6;
                }
            }
        }
        
        .category-box:first-child {
            margin: 16px 0px 0px 0px !important;
        }
        
        .scroll-box {
            height: 160px;
            margin: 0px !important;
        }
        
        .image-box {
            margin-top: 10px;
            width: auto;
            height: 110px;
        }
    
    }
}
