<ion-header class="category-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="goToBack()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Back
      </button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="category-content">
  <!-- <div class="category-box">
    <p *ngFor="let k of kinds;" (click)="goToCategoryListingPage(k.kind)">{{ k.title }}</p>
  </div> -->
  <div class="category-image">
    <img src="./assets/images/category.png" />
  </div>
  <div class="sub-category-box">
    <ion-row *ngFor="let category of categories" (click)="goToSubCategoryPage(category)">
      <!-- <ion-col text-left>
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </ion-col> -->
      <ion-col text-left>
        {{ category.title }}
      </ion-col>
      <ion-col text-right>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
