page-category {
    .category-header {
        @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
        // border-bottom: 1px solid $border-color-1;
        // background-color: $theme-color-10;
        // color: $white;
    }
    
    .category-content {
        background-color: $white !important;

        .category-image {
            padding: 0px;
            img {
                width: 100%;
            }
        }
        
        .category-box {
            padding: 0px 16px;
            color: $theme-color-1;
            font-size: 14px;
            font-weight: 600;
            border-bottom: 1px solid $border-color-1;
        }
        
        .sub-category-box {
            color: $theme-color-1;
            padding: 0px 0px;
            font-size: 14px;
            
            ion-row {
                height: 40px;
                margin: 0px;
                padding: 13px 24px;
                
                ion-col {
                    margin: 0px;
                    padding: 0px;
                    flex: 0 0 calc(100% - 30px);
                    max-width: calc(100% - 30px);
                    // flex: 0 0 calc(100% - 60px);
                    // max-width: calc(100% - 60px);
                }
                
                // ion-col:first-child {
                //     flex: 0 0 30px;
                //     max-width: 30px;
                // }
                
                ion-col:last-child {
                    flex: 0 0 30px;
                    max-width: 30px;
                }
            }
            
            ion-row:nth-child(even) {
                background-color: $white-b;
            }
        }
    }
}
