page-category {
    .category-header {
        border-bottom: 1px solid $black-c;
        
        ion-row {
            margin: 0px;
            padding: 0px;
            
            ion-col:first-child {
                margin: 0px;
                padding: 0px 5px 0px 0px;
                height: 48px !important;
            }
            
            ion-col:last-child {
                margin: 0px;
                padding: 0px 0px 0px 5px;
                height: 48px !important;
            }
        }
        
        .search-places {
            margin: 6px 0px;
            padding: 0px;
            width: 100%;
            border: none;
            min-height: 36px;
            // height: 36px;
            .searchbar-input-container {
                border: none;
            }
            
            input {
                background-color: #000;
                border: 1px solid #fff;
                border-radius: 4px;
                color: #fff;
                height: 36px !important;
                padding: 6px 4px 6px 29px !important;
            }
            
            .searchbar-search-icon {
                left: 6px;
                top: 8px;
                width: 21px;
                height: 21px;
                background-size: 20px;
                color: #fff !important;
                // background-color: #fff;
            }
            
            .searchbar-ios {
                margin-left: 4px !important;
            }
        }
        
        .categories-btn {
            margin: 6px 0px !important;
            width: 100% !important;
            height: 36px !important;
            background-color: $theme-color-4 !important;
            color: $white;
        }
    }
    
    .category-content {
        background-color: $black-e !important;
        
        .category-box {
            padding: 0px 16px;
            color: $theme-color-1;
            font-size: 16px;
            border-bottom: 1px solid $black-c;
        }
        
        .sub-category-box {
            color: $white;
            padding: 10px 0px;
            font-size: 14px;
            
            ion-row {
                height: 40px;
                margin: 0px;
                padding: 13px 24px;
                
                ion-col {
                    margin: 0px;
                    padding: 0px;
                    flex: 0 0 calc(100% - 60px);
                    max-width: calc(100% - 60px);
                }
                
                ion-col:first-child {
                    flex: 0 0 30px;
                    max-width: 30px;
                }
                
                ion-col:last-child {
                    flex: 0 0 30px;
                    max-width: 30px;
                }
            }
            
            ion-row:nth-child(even) {
                background-color: $black-f;
            }
        }
    }
}
