page-community-listing {
    .community-listing-header {
        @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
        // border-bottom: 1px solid $border-color-1;
    }

    .community-listing-content {
        .history-box {
            border-bottom: 1px solid $border-color-2;
            padding: 4px 16px 0px 16px;

            .title-row {
                color: $theme-color-1;
                font-size: 14px;
                font-weight: 600;
            }

            .content-row {
                font-size: 12px;
            }

            .action-row {
                color: $theme-color-8;
                font-size: 12px;
                height: 14px;
                margin: 4px 0px 20px 0px;
                padding: 0px;
            }
        }

        .history-box:last-child {
            border-bottom: none;
        }
    }
}
