<ion-header class="community-listing-header">
  <!-- <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goToBack()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Back
      </button>
    </ion-buttons>
    <ion-title>Community Listing</ion-title>
  </ion-navbar> -->
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="showMenu()">
        <img src="./assets/images/menu-button.png" width="22" height="22" />
      </button>
    </ion-buttons>
    <ion-title>Your Community</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="community-listing-content" padding>
  <!-- <div class="history-box" *ngFor="let community of lists">
    <p class="title-row">{{ community.title }}</p>
    <p class="content-row">
      {{ community.content }}
    </p>
    <button ion-button clear class="action-row" (click)="goToCommunityViewPage(community.id)">Read More &nbsp; <i class="fa fa-angle-right" aria-hidden="true"></i></button>
  </div> -->

  <div class="listing-box">
    <ion-row *ngFor="let list of lists">
      <ion-col width-50 *ngFor="let item of list" (click)="goToCommunityViewPage(item.id)">
        <img [src]="item.image_url" class="image-box" />
        <!-- <img src="./assets/images/featured.png" class="featured-image" /> -->
        <div class="community-title">
          {{ item.title }}
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
