<ion-header class="sub-category-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="goToBack()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Back
      </button>
    </ion-buttons>
    <ion-title>{{ category.title }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="sub-category-content">
  <div class="category-image" *ngIf="category.picture">
    <img [src]="category.image_url" />
  </div>
  <div class="sub-category-box">
    <ion-row *ngFor="let c of subCategories" (click)="goToCategoryListPage(c)">
      <!-- <ion-col text-left>
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
      </ion-col> -->
      <ion-col text-left>
        {{ c.title }}
      </ion-col>
      <ion-col text-right>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
