page-website {
    .website-content {
        .logo-image {
            width: 80px;
            margin: 10px calc(50vw - 40px);
        }

        .company-image {
            width: 100%;
        }

        .segments {
            margin: 16px;
            width: calc(100% - 32px);
        }

        p {
            color: $theme-color-7;
        }

        .sub-title-row {
            margin-bottom: 0px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

        .content-row {
            margin: 10px 16px;
            font-size: 12px;
        }
    }
}
