@mixin header-styles($background, $color){
	background-color: $background;
	padding-left: 10px;
	padding-right: 10px;

	.toolbar-background
	{
		border: none !important;
		background-color: transparent;
	}

	.toolbar-title,
	.back-button,
	.bar-button
	{
		color: $color;
	}

	ion-title {
		position: absolute;
		top: 10px;
		left: 0px;
		width: 100%;
		padding-left: 0px !important;
		padding-right: 0px !important;
		text-align: center;
	}

	.title-md {
		top: 16px !important;
	}
}

ion-header {
	@include header-styles(color($colors, header, base), color($colors, header, contrast));

	ion-title {
		padding-left: 0px !important;
		padding-right: 0px !important;
		text-align: center;
	}
}

.platform-ios ion-header {
	ion-title {
		top: 0px !important;
	}
}