@mixin header-styles($background, $color){
	background-color: $background;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	height: 77px !important;

	.toolbar-background
	{
		border: none !important;
		background-color: transparent;
	}

	.toolbar-title,
	.back-button,
	.bar-button
	{
		color: $color;
	}
}

ion-header {
	@include header-styles(color($colors, header, base), color($colors, header, contrast));

	ion-title {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}
