@mixin header-styles($background, $color){
	// background: linear-gradient(to top, $background 0%, lighten($background, 10%) 100%);
	background-color: $background;
	padding-left: 6px;
	padding-right: 6px;

	.toolbar-background
	{
		border: none !important;
		background-color: transparent;
	}

	.toolbar-title,
	.back-button,
	.bar-button
	{
		overflow: visible;
		color: $color;
	}

	ion-title {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		padding-left: 0px !important;
		padding-right: 0px !important;
		text-align: center;
	}

	// .title-md {
	// 	top: 16px !important;
	// }
}

ion-header {
	@include header-styles(color($colors, header, base), color($colors, header, contrast));
}
