ion-menu {
	.menu-header {
		background-color: $theme-color-4 !important;
		height: 20vh !important;

		.menu-icon {
			width: 30vw;
			height: 11.7vw;
			margin: calc(10vh - 3vw) calc(50% - 15vw);
		}
	}
	
	.menu-content
	{
		background-color: $theme-color-4;
	}
	
	.menu-list
	{
		margin-top: 1px;
		
		.item
		{
			background-color: $theme-color-4;
			padding-right: 32px;
			
			&:first-child
			{
				border-top: solid 1px $border-color-1;
			}
			
			&:last-child
			{
				border-bottom: solid 1px $border-color-1;
			}
			
			.item-inner
			{
				border-bottom: 1px solid $border-color-1;
				font-size: 1.8rem;
				font-weight: 300;
				letter-spacing: 1px;
				color: $theme-color-1;
			}
			
			.item-icon
			{
				color: $theme-color-1;
				font-size: 3.4rem;
			}
			
			&.activated
			{
				background-color: $theme-color-1;
				transition-duration: 0ms;
				
				.item-inner
				{
					color: $white;
				}
				
				.item-icon
				{
					color: $white;
				}
			}
		}

		.logout-button {
			padding-left: 40px;
		}
	}
}
