// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$white: #FFFFFF;
$white-a: darken($white, 3%);
$white-b: darken($white, 6%);
$white-c: darken($white, 12%);
$white-d: darken($white, 24%);

$black: rgba(#000000, .8);
$black-a: lighten($black, 10%);
$black-b: lighten($black, 20%);
$black-c: lighten($black, 40%);
$black-d: lighten($black, 60%);
$black-real: #000000;
$black-e: rgb(10, 10, 10);
$black-f: rgb(16, 16, 16);

$theme-color-1: #4d7298;
$theme-color-2: #ae75e7;
$theme-color-3: #5e5874;
$theme-color-4: #fff89d;
$theme-color-5: #e1dddd;
$theme-color-6: #116ab4;
$theme-color-7: #434343;

$border-color-1: #f4f4f4;

$fore-color-1: #00157e;
$fore-color-2: #387ef5;
$fore-color-3: #116ab4;

// $theme-color-1: #fff89c;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  // primary:    #387ef5,
  primary:    #4d7298,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  walkthrough:(
    base: $theme-color-1,
    contrast: $fore-color-1
  ),
  walkthrough-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  walkthrough-header:(
    base: transparent,
    contrast: $fore-color-1
  ),
  header:(
    base: $white,
    contrast: $white
  ),
  header-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  button:(
    base: $theme-color-1,
    contrast: $fore-color-1
  ),
  button-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  background:(
    base: $white-b,
    contrast: $black-b
  ),
  tabs-navigation:(
    base: $white,
    contrast: $theme-color-1
  ),
  tabs-navigation-alt:(
    base: $theme-color-4,
    contrast: $theme-color-1
  )
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
