walkthrough-page {
	.walkthrough-content
	{
		// background: url('../assets/images/welcome-bg.png') no-repeat center;
		// background-size: 1201px 800px;

		.scroll-content
		{
			margin: 0px !important;
		}

		img {
			width: 100vw;
			height: 100vh;
		}

		ion-slide:nth-child(odd)
		{
			background-color: transparent;
			color: color($colors, walkthrough, contrast);
		}

		ion-slide:nth-child(even)
		{
			background-color: transparent;
			color: color($colors, walkthrough-alt, contrast);
		}

		.swiper-pagination-bullets {
			bottom: 80px !important;
		}

		.swiper-pagination-bullet
		{
		  	background: $white;
			opacity: .3;

			&.swiper-pagination-bullet-active
			{
			  opacity: 1;
			}
		}

		ion-slides {
			ion-slide {
				@include align-items(flex-start);
			}
		}

		.start-btn {
			@include segment-text-styles($theme-color-10);
			background-color: $theme-color-4;
			font-size: 12px;
			font-weight: 600;
			z-index: 100;
			width: 200px;
			height: 40px;
			position: absolute;
			bottom: 20px;
			left: calc(50% - 100px);
		}
	}
}
