page-about-us {
    .about-us-header {
        border-bottom: 1px solid $border-color-1;
    }
    
    .about-us-content {
        .title-row {
            text-align: center;
        }
        
        .sub-title-row {
            margin: 24px 16px 20px;
            font-size: 16px;
            font-weight: 600;
            color: $theme-color-1;
        }
        
        .comment-row {
            margin: 16px;
            font-size: 12px;
        }
    }
}
