page-whats-on-details {
    .whats-on-details-header {
        @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
        // border-bottom: 1px solid $border-color-1;
    }
    
    .whats-on-details-content {
        .image-box {
            margin: -16px -16px 0px -16px;
            
            .event-image {
                width: 100%;
                height: auto;
            }
        }

        ion-row {
            ion-col {
                padding: 0px;
            }
        }
        
        .event-title {
            font-size: 24px;
            font-weight: bold;
            color: $black-a;
            margin: 12px 0px 0px;
        }
        
        .event-content {
            margin: 8px 0px 0px;
            padding: 0px 4px;
            font-size: 14px;
        }
        
        .sub-title {
            font-size: 16px;
            font-weight: bold;
            color: $black-a;
            margin: 8px 0px 0px;
            padding-top: 12px;
            border-top: 1px solid $border-color-3;
        }
            
        .google-map-button {
            height: 16px;
            margin: -10px 0px 0px;
            padding: 0px;
            color: $theme-color-10;
            font-size: 14px;
        }
    
        .date-row {
            margin: 8px 0px;
            padding: 4px;
            
            .calendar-col {
                border: 1px solid $theme-color-1;
                border-radius: 4px;
                color: $theme-color-10;
                -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
                box-shadow: 0 0 10px rgba(0,0,0,0.4);
                padding: 4px;
                flex: 0 0 48px;
                max-width: 48px;
                
                .event-month {
                    font-size: 12px;
                    width: 100%;
                    text-align: center;
                }
                
                .event-day {
                    font-size: 20px;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                }
            }
            
            .date-col {
                padding: 4px 0px 4px 12px;
                
                .event-date {
                    
                }
                
                .add-calendar-button {
                    height: 18px;
                    font-size: 14px;
                    margin: 0px;
                    padding: 0px;
                    color: $theme-color-10;
                }
            }
        }
        
        .event-address {
            margin: 8px 0px 0px;
            padding: 0px 4px;
            font-size: 14px;
        }
        
        .website-button {
            height: 18px;
            margin: 4px 0px 0px 4px;
            padding: 0px;
            color: $theme-color-10;
        }
    }
}
