<ion-header class="whats-on-details-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="goToBack()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Back
      </button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="whats-on-details-content" padding>
  <div *ngIf="event.image" class="image-box">
    <img class="event-image" [src]="event.image_url" />
  </div>
  
  <div class="event-title">
    {{ event.title }}
  </div>
  
  <div class="event-content" id="event-content">
    <!-- {{ event.content }} -->
  </div>
  
  <div class="sub-title">
    Dates & Times
  </div>
  
  <ion-row class="date-row">
    <ion-col class="calendar-col">
      <div class="event-month">{{ event.month_str }}</div>
      <div class="event-day">{{ event.day_str }}</div>
    </ion-col>
    <ion-col class="date-col">
      <div class="event-date">{{ event.date_str }}</div>
      <button ion-button clear class="add-calendar-button" (click)="doAddCalendar(event)">Add to Calendar</button>
    </ion-col>
  </ion-row>
  
  <ion-row class="sub-title">
    <ion-col>Address</ion-col>
    <ion-col text-right>
      <button ion-button clear class="google-map-button" (click)="goToLocationPage(event.place)">Get Directions</button>
    </ion-col>
  </ion-row>
  
  <div class="event-address">
    {{ event.place }}
  </div>
  
  <div class="sub-title">
    Website
  </div>
  
  <button ion-button clear class="website-button event-address" (click)="goToWebsitePage(event.website)">
    {{ event.website }}
  </button>

  <!-- <ion-list>
    <ion-item *ngFor="let cal of calendars" tappable>
      <button ion-button icon-only item-start clear (click)="addEvent(cal)">
        <ion-icon name="add"></ion-icon>
      </button>
      {{ cal.name }}
      <p>{{ cal.type }}</p>
      <button ion-button icon-only item-end clear (click)="openCal(cal)">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list> -->
</ion-content>
