page-whats-on-details {
    .whats-on-details-header {
        @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
        // border-bottom: 1px solid $border-color-1;
    }
    
    .whats-on-details-content {
        .title-row {
            text-align: center;
        }
        
        .image-row {
            width: 100%;
        }
        
        .comment-row {
            margin: 16px;
            font-size: 12px;
        }
        
        .rows-box {
            border-bottom: 1px solid $border-color-1;

            .auth-row {
                padding: 0px;
                margin: 16px;
                font-size: 12px;
                color: $theme-color-7;
                
                ion-col {
                    margin: 0px;
                    padding: 0px;
                    font-weight: 600;
                }
                
                ion-col:first-child {
                    font-weight: 100;
                    flex: 0 0 50px;
                    max-width: 0 0 50px;
                }
                
                ion-col:last-child {
                    color: $theme-color-8;
                    flex: 0 0 108px;
                    max-width: 0 0 108px;
                }
            }
            
            .site-row {
                padding: 0px;
                margin: 16px;
                font-size: 12px;
                
                ion-col {
                    margin: 0px;
                    padding: 0px;
                    font-weight: 600;
                    color: $theme-color-1;
                }
                
                ion-col:first-child {
                    font-weight: 100;
                    flex: 0 0 50px;
                    max-width: 0 0 50px;
                    color: $theme-color-7;
                }
            }
        }
        
        .sub-title-row {
            margin: 24px 16px 20px;
            font-size: 16px;
            font-weight: 600;
            color: $theme-color-1;
        }
    }
}
