<ion-header class="whats-on-header">
  <ion-navbar>
    <ion-title>What's On</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="whats-on-content">
  <ion-item class="category-box" no-lines>
    <ion-row>
      <ion-col text-left>
        Featured Businesses
      </ion-col>
      <ion-col text-right>
        <span (click)="showViewAll('featured')">View All></span>
      </ion-col>
    </ion-row>
    <ion-scroll scrollX class="scroll-box">
      <div class="scroll-item" *ngFor="let event of featuredList" (click)="goToWhatsOnDetailsPage(event.id)">
        <img [src]="event.image_url" class="image-box" />
      </div>
    </ion-scroll>
  </ion-item>
  
  <ion-item class="category-box" no-lines>
    <ion-row>
      <ion-col text-left>
        Most Popular
      </ion-col>
      <ion-col text-right>
        <span (click)="showViewAll('most')" class="view-all-button">View All></span>
      </ion-col>
    </ion-row>
    <ion-scroll scrollX class="scroll-box">
      <div class="scroll-item" *ngFor="let event of mostList" (click)="goToWhatsOnDetailsPage(event.id)">
        <img [src]="event.image_url" class="image-box" />
      </div>
    </ion-scroll>
  </ion-item>
  
  <ion-item class="category-box" no-lines>
    <ion-row>
      <ion-col text-left>
        New
      </ion-col>
      <ion-col text-right>
        <span (click)="showViewAll('new')" class="view-all-button">View All></span>
      </ion-col>
    </ion-row>
    <ion-scroll scrollX class="scroll-box">
      <div class="scroll-item" *ngFor="let event of newList" (click)="goToWhatsOnDetailsPage(event.id)">
        <img [src]="event.image_url" class="image-box" />
      </div>
    </ion-scroll>
  </ion-item>
</ion-content>
