signup-page {
	.signup-content
	{
		background: url('../assets/images/login-bg.png') no-repeat;
		background-position-x: 26%;
		background-position-y: center;
		background-size: 1268px 800px;
		
		.intro-image-row
		{
			@include justify-content(center);
			// margin-top: 90px;
			margin-top: 10vh;
			margin-bottom: 0vh;
			// border: 1px solid $white;
		}
		
		.back-btn
		{
			margin-top: 16px;
			border: 1px solid $white-a;
			color: $white;
		}

		.auth-action-button
		{
			margin-top: 40px !important;
		}
	
		.alt-options
		{
			margin-top: 7vh;
			
			.button
			{
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}
			
			.text-button
			{
				color: $white-a;
				width: 100%;
				
				.button-inner
				{
					@include justify-content(flex-start);
				}
			}
		}
	}
}