page-offer-view {
    .offer-view-header {
        @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
        // border-bottom: 1px solid $border-color-1;
    }

    .offer-view-content {
        .title-row {
            margin: 16px;
            font-size: 20px;
            font-weight: bold;
            text-align: center
        }

        .image-row {
            width: 100%;
        }

        .comment-row {
            margin: 16px;
            font-size: 14px;
        }

        ion-row {
            ion-col {
                margin: 0px;
                padding: 0px;

                span {
                    font-weight: bold;
                }
            }
        }

        .date-row {
            margin: 16px 20px 0px;
            font-size: 12px;
            color: $black;
        }

        .auth-row {
            margin: 4px 20px 16px;
            font-size: 12px;
            color: $black;
        }
    }

}
