page-company-profile {
    .company-profile-content {
        .image-box {
            padding: 0px;

            .item-inner {
                padding: 0px;
                border: none;

                ion-label {
                    margin: 0px;
                }
            }

            .company-image {
                width: 100%;
            }
            
            .logo-image-box {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: rgba(255, 255, 255, 0.3);
                text-align: center;
                display: flex;
                align-items: center;

                .border-box {
                    margin: auto;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    border: 2px solid $theme-color-9;
                    border-radius: 50%;
                }

                .padding-box {
                    background-color: rgba($white, 0.7);
                    border: 10px solid transparent;
                    border-radius: 50%;
                    margin: auto;
                    text-align: center;
                    display: flex;
                    align-items: center;
                }

                .logo-image {
                    margin: auto;
                }
            }
        }
        
        .segments {
            margin: 8px 16px 6px;
            width: calc(100% - 32px);
        }
        
        .action-row {
            margin: 10px 16px;
            padding: 0px;
            
            ion-col {
                margin: 0px;
                padding: 0px;
                
                button {
                    margin: 0px;
                    height: 40px;
                }
                
                .mail-button {
                    background-color: $theme-color-6;
                    width: 40px;
                }
                
                .call-button {
                    width: 100%;
                    
                    .fa {
                        position: absolute;
                        right: 20px;
                    }
                }
            }
            
            ion-col:first-child {
                flex: 0 0 54px;
                max-width: 54px;
            }
        }
        
        .url-row {
            color: $theme-color-6;
            text-align: center;

            button {
                height: 18px;
                margin: 0px;
                font-size: 14px;
            }
        }

        .sub-title-row {
            font-weight: bold;
            margin: 10px 16px;
            color: $theme-color-7;
        }

        .service-row {
            margin: 5px 16px;
            font-size: 12px;
            color: $theme-color-7;
        }
    }
}
