page-company-profile {
    .company-profile-header {
        @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
    }

    .company-profile-content {
        .category-row {
            margin-bottom: 4px;

            ion-col {
                padding: 0px;
            }

            ion-col:last-child {
                margin-left: 8px;
                font-weight: bold;
                flex: 0 0 60%;
                max-width: 60%;
            }
        }
        
        .image-box {
            margin: -16px -16px 0px;
            padding: 0px;
            width: calc(100% + 32px);
            
            .item-inner {
                padding: 0px;
                border: none;

                ion-label {
                    margin: 0px;
                }
            }

            div {
                text-align: center;
            }

            .company-image {
                width: 100%;
                // border-radius: 8px;
            }

            .logo-image {
                height: 30%;
                padding: 4px;
                border-radius: 4px;
                position: absolute;
                left: 20px;
                top: 10%;
                background-color: $white;
            }

            #title-box {
                font-size: 28px;
                font-weight: bold;
                color: $white;
                position: absolute;
                bottom: 10%;
                left: 20px;
                max-width: 80%;
                white-space: normal;
                text-align: left;
            }
            
            /*.logo-image-box {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: rgba(255, 255, 255, 0.3);
                text-align: center;
                display: flex;
                align-items: center;

                .border-box {
                    margin: auto;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    border: 2px solid $theme-color-9;
                    border-radius: 50%;
                }

                .padding-box {
                    background-color: rgba($white, 0.7);
                    border: 10px solid transparent;
                    border-radius: 50%;
                    margin: auto;
                    text-align: center;
                    display: flex;
                    align-items: center;
                }

                .logo-image {
                    margin: auto;
                }
            }*/
        }
        
        .segments {
            margin: 16px 16px 6px;
            width: calc(100% - 32px);
        }
        
        /*.action-row {
            margin: 10px 0px;
            padding: 0px;
            
            ion-col {
                margin: 0px;
                padding: 0px;
                
                button {
                    margin: 0px;
                    height: 32px;
                    background-color: $theme-color-6;
                }
                
                .mail-button {
                    width: 32px;
                }
                
                .call-button {
                    width: 100%;
                    
                    .fa {
                        position: absolute;
                        left: 20px;
                    }
                }
            }
            
            ion-col:first-child, ion-col:last-child {
                flex: 0 0 40px;
                max-width: 40px;
            }
        }*/
        
        /*.url-row {
            color: $theme-color-6;
            text-align: center;

            button {
                height: 18px;
                margin: 0px;
                font-size: 14px;
                color: $theme-color-6;
            }
        }*/

        .sub-title-row {
            font-size: 16px;
            font-weight: bold;
            margin: 10px 0px;
            color: $theme-color-7;
        }

        .details-row {
            font-size: 16px;

            ion-col {
                padding: 0px;
            }

            ion-col:first-child {
                padding-top: 5px;
                margin-left: 16px;
                flex: 0 0 30px;
                max-width: 30px;
            }

            button {
                margin: 0px;
                height: 18px;
                padding: 0px;
                font-size: 16px;
            }
        }

        .service-row {
            margin: 5px 16px;
            font-size: 12px;
            color: $theme-color-7;
        }
    }
}
