<ion-header class="company-profile-header">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goToBack()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
    </ion-buttons>
    <ion-title>{{ company.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="company-profile-content">
  <ion-segment color="semi-dark" class="segments" [(ngModel)]="segments">
    <ion-segment-button value="en">
      English
    </ion-segment-button>
    <ion-segment-button value="ru">
      Russian
    </ion-segment-button>
  </ion-segment>
  
  <ion-item *ngIf="company.title" class="image-box">
    <img class="company-image" [src]="company.image_url" />
    <div class="logo-image-box">
      <div class="border-box">
        <div class="padding-box">
          <img class="logo-image" id="logo-image" [src]="company.logo_url" />
        </div>
      </div>
    </div>
  </ion-item>
  
  <ion-row class="action-row">
    <ion-col>
      <button ion-button class="mail-button"><i class="fa fa-envelope" aria-hidden="true"></i></button>
    </ion-col>
    <ion-col>
      <button ion-button class="call-button" (click)="callPhone(company.phone)">
        {{ company.phone }}
        <i class="fa fa-phone" aria-hidden="true"></i>
      </button>
    </ion-col>
  </ion-row>
  
  <p class="url-row">
    <button ion-button clear (click)="goToWebsitePage(company.site)">{{ company.site }}</button>
  </p>
  
  <div *ngIf="segments == 'en'">
    <p class="sub-title-row">
      Services:
    </p>
    <p class="service-row">
      - {{ company.services_en }}
    </p>
    <p class="sub-title-row">
      About:
    </p>
    <p class="service-row">
      - {{ company.about_en }}
    </p>
    <p class="sub-title-row">
      Contacts:
    </p>
    <p class="service-row">
      - {{ company.contacts_en }}
    </p>
  </div>
  
  <div *ngIf="segments == 'ru'">
    <p class="sub-title-row">
      Сервисы:
    </p>
    <p class="service-row">
      - {{ company.services_rn }}
    </p>
    <p class="sub-title-row">
      Около:
    </p>
    <p class="service-row">
      - {{ company.about_rn }}
    </p>
    <p class="sub-title-row">
      Контакты:
    </p>
    <p class="service-row">
      - {{ company.contacts_rn }}
    </p>
  </div>
</ion-content>
